
#stateslist,
#Stoerer_Briefwahl_imgDiv {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 19%;
    padding-left: 2rem !important;
}
.topDesign ul#stateslist {
    width: 100%;
    float: left;
    background-color: #f5f5f5;
}
.shorticon {
    line-height: 1.2rem;
    position: absolute;
    right: 10px;
    top: 2px;
}
.shorticon .downArrow>svg, .shorticon .upArrow>svg {
    font-size: 11px;
    line-height: 11px;
    background: #fff;
}