
#stateslist,
#Stoerer_Briefwahl_imgDiv {
    width: 19%;
    float: left;
    text-align: center;
    margin: 0 auto;
}
.topDesign ul#stateslist {
    width: 100%;
    float: left;
    background-color: #f5f5f5;
}
.shorticon {
    position: absolute;
top: 0px;
right: 8px;
line-height: 1.2rem;
}
.shorticon .downArrow>svg, .shorticon .upArrow>svg {
    font-size: 12px;
    line-height: 12px;
    background: #fff;
}