.valign-middle {
    align-items: center;
    display: flex;
}
.siteColor {
    color: var(--SiteBlue);
    text-decoration: none;
  }
  
 
/******************MODAL**********************/
.fade.in {
    opacity: 1
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.popover.fade.show {
	opacity: 1;
}
.panel-title .modal-body {
	padding: 0 5px;
}
.modal-header {
		border-bottom: 1px solid transparent !important;
    padding: 0.5rem !important;
}
.modal-md {
    width: 700px;
    max-width: 700px;
}
.modal-lg {
    max-width: 1245px;
    width:1245px;
}

.modal-dialog.modal-lg {
    width: 1250px;
}

.modal-title {
    width: 100%;
}

.modal-header .close {
margin: 0 0px 0px 10px;
    font-size: 30px !important;
    opacity: 1;
    padding: 0px;
    min-width: 25px;
}
button.close:hover {
    background: transparent;
}
h3.modal-title {
    font-size: 26px;
    line-height: 30px;
}
h3.modal-title > span {
    display: inline-flex;
}

h3.modal-title > span>img {
    width: 28px !important;
    height: 28px !important;
	margin-right: 5px;
}
.modal-content {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px !important;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
	display: none;
}

.modal {
	background-color: #6666;
	overflow: auto;
}

.modal-footer a {
	font-size: 13px;
}
.modal-footer {
	padding: 0.5rem !important;
	font-size: 13px;
	margin-top: 0px;
}

.modal-footer .ItemInfo {
    text-align: left;
}

.modal-dialog {
    left: 0px !important;
    margin: 0 auto;
}
.modal label span {
    margin-left: 3px;
}
.ItemInfo {float: left;font-size: 13px;width: 100%;}
.ItemInfo-right {padding-top: 15px;text-align: right;}

.modal.fade .modal-dialog {
	transform: translate(0, 0%) !important;
	-webkit-transform: translate(0, -0%);
	-ms-transform: translate(0, -0%);
	transform: translate(0, -0%);
}

.modal.in .modal-dialog {
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}

/***************** Briefwahl*************************/
#content ul#stateslist {
    margin-left: 0px;
	padding: 10px 10px;
	border-bottom: 1px solid #eeeeee;
}
	#stateslist>li a {
		color: #ffffff !important;
	}

	#stateslist li {
		background: #008939 none repeat scroll 0 0;
		border: 1px solid #ffffff;
		display: inline-block;
        margin: 3px 0;
		font-size: 16   px !important;
		padding: 5px 10px;
    font-weight: 500;
	}
	.head {
		color: #000;
		display: none;
	}

	.ml--25 {
		margin-left: -25px !important;
	}

	#stateslist li.active {
    background: #039  none repeat scroll 0 0; font-weight: 700;
	}

#stateslist > li:hover {
    background: #039  none repeat scroll 0 0;
    /* transform: scale(1.1); */
}


 .adminCircleText {
    height: 20px;
    width: 20px;
    font-weight: 500;
    padding: 1px 1px;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: 'Poppins';
    background: #008939;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    }


    .trafficlearall {
        width: 40px;
        height: 40px;
        border: 3px solid #ccc;
        background: #fff;
        font-weight: 600;
        padding-top: 6px;
        border-radius: 50px;
        font-size: 12px;
        text-align: center;
    }

    .wid30 {
        width: 30px;
    }

    .blnkblckfill {
        background: #000000 !important;
    }
.input-oneLine {
    display: flex;
}
.input-oneLine span {
    margin-left: 5px;
    margin-top: 5px;
}
    .disflex {
        display: flex;
    }

        .disflex.trffic-text {
            color: #212529;
        }

    .quickheader {
        border-bottom: 1px solid #ccc;
        margin-bottom: 8px !important;
        font-weight: 600 !important;
    }

    .dataoverflow.quickboxcontent {
        height: 50px;
    }

    .posi_uns {
        position: unset !important;
    }

    .Go_to_ootb-btn {
        font-size: 15px;
        margin-right: 10px;
        font-weight: 700;
    }

    .searchInputResult-Box {
        display: none;
    }

    #searchInputResult-Box .searchtablebox{
        background: #fff;
        box-shadow: 1px 2px 10px #0000002e;
        border: 2px solid #008939 ;
        padding: 15px 10px;
    }

        #searchInputResult-Box table th, #searchInputResult-Box table td {
            width: 49.5%;
            display: inline-block !important;
            border: 0;
        }

        #searchInputResult-Box thead {
            background: #008939 ;
            color: #fff;
        }

        #searchInputResult-Box table tr {
            border-bottom: 1px solid #dfdfdf !important;
        }

.event_home {
    color: #212529;
    background-color: #f5f5f5 !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 1em;
}

.P_icon > img {
	    width: 22px !important;
		height: 22px !important;
	}
.spotlighttitle {
    font-family: inherit;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    margin: 8px 0px 0px;
    font-size: 18px;
}
li.dynamic {
    border-left: 1px solid #ccc;
}
.container-new {
    max-height: 550px;
    overflow-y: auto;
    border: 1px solid #ccc;
    word-break: break-all;
}
	.panel-default {
		border-color: #cccc;
	}
	.panel{margin-bottom: 8px;
		background-color: rgb(255, 255, 255);
		box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
		border-width: 1px;
		border-style: solid;
		border-image: initial;
		border-radius: 0px;}

	.panel-heading {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		padding: 10px 15px !important;
	}

	.panel-default>.panel-heading {
		color: #212529;
		background-color: #f5f5f5;
		border-color: #ddd;
	}

	h3.panel-title {
		margin-bottom: 0px !important;
		font-weight: 500 !important;
		font-size: 14px;
	}

.backboxclr{
	background: #f5f5f5;
	border: 1px solid #ccc;
}

/*--------------------- pagefeedbackDropdown---------------------------*/

#pagefeedbackDropdown span.glyphicon-menu-hamburger.dropdown-toggle.page-content {z-index: 9999;padding-left: 0px;text-align: right;width: 30px;font-size: 14px;bottom: 11px;right: 2px;top: 2px;}
#pagefeedbackDropdown .page-content {height: 10px !important;}
#pagefeedbackDropdown .dropdown>ul.dropdown-menu.dropdown-menu-right.add {min-width: 175px;left: -173px;z-index: 9999; top: 17px;border: 1px solid #eeecec;padding: 0px;border-radius: 0px;}
#pagefeedbackDropdown .dropdown>ul.dropdown-menu {border:none;}
#pagefeedbackDropdown #font-icon {font-size: 14px;margin-right: 6px;top: 2px;color: #008939  !important;}
#pagefeedbackDropdown #font-icon a {display: initial;}
#pagefeedbackDropdown #li-brdr {border-bottom: 1px solid #d5d5d5;padding: 4px 5px;line-height: 21px;list-style: none !important;}
#pagefeedbackDropdown ul li:last-child {border-bottom: none !important;}
#pagefeedbackDropdown #edit-text {font-family: 'PTSans', sans-serif;font-weight: 900;text-decoration: none;color: #212529 !important;padding: 0px;display: inline;border-bottom: none;letter-spacing: 0px;font-size: 13.5px;font-style: italic;}
#pagefeedbackDropdown #li-brdr:hover, #pagefeedbackDropdown #li-brdr:focus {background: #008939;color: #fff;cursor: pointer;}
#pagefeedbackDropdown #li-brdr:hover span#font-icon, #pagefeedbackDropdown #li-brdr:hover a#edit-text {color: #ffeb3b !important;}

/*----------------------CARD CSS---------------------------------------------*/
.key-documents {background: #fff;box-shadow: 0 1px 20px rgba(0, 84, 55, 0.09);margin-bottom: 20px;width: 100%;padding: 15px 20px;border-radius: 3px;}
.swiper-wrapper {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.swiper-wrapper {position: relative;width: 100%;height: 100%;z-index: 1;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-transition-property: -webkit-transform;transition-property: -webkit-transform;-o-transition-property: transform;transition-property: transform;transition-property: transform, -webkit-transform;-webkit-box-sizing: content-box;box-sizing: content-box;}
.swiper-slide {-webkit-flex-shrink: 0;-ms-flex-negative: 0;flex-shrink: 0;width: 100%;height: 100%;position: relative;-webkit-transition-property: -webkit-transform;transition-property: -webkit-transform;-o-transition-property: transform;transition-property: transform;transition-property: transform, -webkit-transform;}
.key-documents__item {display: flex;gap: 15px;}
.key-documents__img { border-radius: 3px;box-shadow: 0 1px 20px rgba(0, 84, 55, 0.09) !important;display: inline-block;flex-shrink: 0;margin: auto 0;overflow: hidden;width: 160px;}
.key-documents__img a img {display: block;border-radius: 2px;transition: all 0.3s;object-fit: cover;width: 100%;}
.key-documents__content {padding-right: 8px;}
.key-documents__code {color: #7b7992;margin-bottom: 0px;display: inline-block;font-weight: 500;font-size: 15px;text-transform: capitalize;}
.key-documents__code span.documentTitle {font-size: 22px;font-family: 'GrueneType';font-style: normal !important;}
.key-documents__title {margin-top: 5px;}
.key-documents__title span {font-size: 13px;font-weight: 700;color: #212529;margin-bottom: 20px;}
.key-documents__text span {color: #555;margin-bottom: 30px;line-height: 1.5em;}
img.icon_pdf {width: 22px;height: 22px;margin-right: 2px;}
.shadow_hover{box-shadow: 0 10px 30px -5px rgb(10 16 34 / 20%);-webkit-transform: scale(1.05);-ms-transform: scale(1.05);-o-transform: scale(1.05);transform: scale(1.05);}
img.imgframe {max-width: 270px;}
.html-content .key-documents__content .key-documents__header {display: flex;gap: 2px;align-items: center;}


/**************Tiles ***************/
    .tiles {
     margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    }

    .tiles a {
    height: 150px;
    margin: 0px 20px;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
    transition: all 0.3s ease-out;
    background: #008939;
    }

    .tiles a:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
        background: #95bd5a;
    }

.tiles a span {
    align-items: center;
    color: #fff !important;
    font-size: 28px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 150px;
    font-weight: 700;
    font-family: 'GrueneType';
}
    
/* ----------------------------------------------------------------
	Media Queries
-----------------------------------------------------------------*/

@media (max-width: 767.98px) {
.menu ul li {padding: 0 0.55em;}
	.menu ul li a {font: 700 13px "PTSans", open-sans, verdana, sans-serif;margin: 0;}
	.menu ul li.small a {font: 700 13px "PTSans", open-sans, verdana, sans-serif;margin: 0;}
	#contentBox {min-width: 100%;}
	.ms-wikicontent.ms-rtestate-field {padding-right: 0px;}
	#pageTitle {font-size: 17px;}
	.ms-webpart-chrome-vertical {display: -moz-inline-grid;width: 100%;}
	#stateslist {display: inline-block;float: none;margin: 0;text-align: left;width: auto;padding: 0 10px;}
	.Briefwahl-modal-btn {padding-left: 10px;padding-right: 10px;}
	.Briefwahl-modal-btn>.btn-primary {margin-bottom: 10px;}
	#regions_div {display: none;}
	#stateslist img {height: auto;margin: 0 auto;}
	#stateslist li {display: inline-block;font-size: 14px;margin: 2px 3px;padding: 7px 10px;}
	.BriefwahlSearch h2.alignmentitle {font-size: 1.2rem; margin-bottom: 0px; }
	.BriefwahlSearch #stateslist li {margin: 0 3px; padding: 6px; width: 47.5%; font-size: 13px !important; }
	#content .briefwahlcontroldashboard ul#stateslist {margin-left: 0px;padding: 10px 10px;border-bottom: 1px solid #eeeeee;display: inline-flex;flex-wrap: wrap; }
	.BriefwahlSearch h2.alignmentitle {font-size: 1.2rem !important;margin-bottom: 0px; }
	.expandtableicon, .bulk-emailBtn, .BriefwahlSearch .section-event {display: none; }
	.pagetitleheader { margin: 10px 0 5px;font-size: 15px; padding-left: 5px; }
	.Go_to_ootb-btn {font-size: 13px; margin-right: 5px; }
	.searchInputResult-Box { display: block;}
	.panel-title h3 { font-size: 15px !important;}
	.modal-lg { max-width: 100% !important;width: 100% !important; margin: 0 auto;left: 0px !important;right: 0; }
	.modal-footer .col.ItemInfo {width: 100%;display: contents;}
}

@media (min-width: 768px) {
	.top-links {border-bottom: 0;}
	.feature_inner.type_three.mid::before {display: none;}
	.min-vh-md-100 {min-height: 100vh !important;}
	.min-vh-md-85 {min-height: 85vh !important;}
	.min-vh-md-75 {min-height: 75vh !important;}
	.min-vh-md-60 {min-height: 60vh !important;}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#s4-ribbonrow, #header #pagefeedbackDropdown {display: none;}
	table.ms-core-tableNoSpace.ms-webpartPage-root, table.ms-core-tableNoSpace.ms-webpartPage-root tbody, table.ms-core-tableNoSpace.ms-webpartPage-root tr, table.ms-core-tableNoSpace.ms-webpartPage-root td, .ms-webpart-zone, .ms-webpart-cell-vertical, .ms-webpart-chrome-vertical {display: block !important;}
	}

@media (max-width: 991.98px) {
	.ms-webpart-chrome-vertical {display: -moz-deck;}
	#stateslist {display: inline-block;float: none;margin: 5px 6px;width: auto;}
	#stateslist li {margin: 3px 0;padding: 10px;}
	.Briefwahl-modal-btn .btn-primary {width: 100%;margin: 4px 0;}
	.Briefwahl-modal-btn {padding-left: 10%;padding-right: 10%;}
}

@media (min-width: 1440px) {
	.container {max-width: 1320px;}
	.sub-menu-container .menu-item>.menu-link{font-size: 18px;}
}
@media (min-width: 1200px) and (max-width: 1440px) {
	.menu-link {font-size: 18px;}
	.slider-caption h2 {font-size: 60px;}
	.slider-caption p {font-size: 30px;margin-bottom: 0;margin-top: 5px;}
	.fbox-content p {font-size: 15px;}
	.sub-menu-container .menu-item>.menu-link {font-size: 1rem;font-weight: 900;}
	#cleaner-carousel h4.card-title, #cleaner-carousel .card-body h4.wave-card-title, #cleaner-carousel h4.card-title a, #cleaner-carousel .card-body h4.wave-card-title a {line-height: 35px !important;font-size: 32px;}
}


@media screen and (max-width: 1600px) and (min-width: 1442px) {
.sub-menu-container .menu-item>.menu-link{font-size: 18px;}
}

@media screen and (min-width: 1920px) {
/* .menu-link {font-size: 	0.9375rem;padding: 39px 25px;letter-spacing: 0px;} */
.sub-menu-container .menu-item>.menu-link{font-size: 18px; }
.content p {font-size: 1rem;}
h4 {font-size: 1.4rem;}
}


/*** Custom Css ***/
.fa {
	cursor: pointer;
  }
  span.input-addon-icon:hover {
	background: #dddbdb;
  }
  span.input-addon-icon {
	position: absolute;
	top: 28.5px;
	right: 1px;
	background: #e5e5e5;
	padding: 5px;
	height: 28px;
	cursor: pointer;
  }
  
  label.underline-label {
	margin-bottom: 5px !important;
	width: 100%;
	border-bottom: 1px solid #ccc;
  }
  .modal-content fieldset input[type=text]:not(.sp-peoplepicker-editorInput) {
	width: 100%;
  }
.left-imagepopup a.sit-preview img.preview {width: 200px;height: 200px;object-fit: cover;object-position: center;}
.left-imagepopup a.sit-preview {position: relative;z-index: 0;display: inline;}
.left-imagepopup a.sit-preview span {text-align: center;background-color: #008939;color: rgb(255, 255, 255);position: absolute;left: -9999px;}
.left-imagepopup a.sit-preview:hover {z-index: 50;cursor: pointer; }
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] {margin-top: 4px; margin-right: 4px;}
.exTab3 .nav-pills.bdr_btmnone {border-bottom: transparent; }
.allexpand .fa-expand { border: 2px solid #CCC;padding: 2px; color: #212529; font-size: 16px !important;
}
.tabexpandicon {float: right;right: 15px;position: absolute;top: 13px;z-index: 99;}
.modal .section-event th div {
    padding: 5px 16px;
}
.modal .sortingfilter {
    top: 5px;
}
.Page-profileCover-Row {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.Page-profileCover-Row > img {
    width: 100%;
}

.Card-row {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  gap: 20px;
}

.Card-row-text-container {
  display: flex;
  flex-direction: column;
}

.Card-row-text-container-title {
    font-weight: 700;
    margin-bottom: 10px;
     line-height: 15px;
}

.Card-row-text-container-desc {
    font-size: 19px;
}
.Page-profileCover-Row p {
    margin-top: 10px;
}

/********************************************GlobalTable Css****************************************************/
/*---------- Table secation---------------- */
.Alltable .table > tbody tr.f-bg td, .Alltable .table > tbody tr.a-bg td, .Alltable .table > tbody tr.w-bg td, .borderBottomWhite {border-bottom: 1px solid #fff;}
.Alltable {width: 100%;float: left;position: relative;border: 1px solid #ccc;}
.Alltable .smart .section-event {padding-top: 45px;border: 0px;position: relative;}
.Alltable .section-event th .smart-relative {position: absolute;background: transparent;/* color: #fff; */padding: 5px 4px;top: 0;line-height: normal;}
.Alltable .smart-relative .searchbox_height {height: 35px;color: #444;padding-right: 14px;}
button, input, select, textarea {padding: 5px;}
.Alltable .section-event .table > thead .smart-relative .searchclear {right: 32px;bottom: auto;top: 7px;background: #fff;padding: 0px 1px;position: absolute;line-height: 30px;height: 30px;}
.Alltable .smart-relative .sorticon {float: left;position: absolute;top: 6px;background: #e9e9e9;padding: 2.5px 3px;color: #b1acac;right: 5px;}
.Alltable .smart-relative .sorticon span:last-child {border-bottom: none;}
.Alltable .smart-relative .sorticon span {display: grid;text-align: center;border-bottom: 1px solid #a09c9c;}
.Alltable .smart-relative .filer-icons {position: absolute;top: 12px;color: #ccc;right: -7px;font-size: 20px;line-height: 18px;}
.Alltable .table > tbody > tr > th, .Alltable .table > tfoot > tr > th, .Alltable .table > thead > tr > th {padding: 0px;line-height: 1.42857143;vertical-align: middle;border-bottom: 1px solid #ddd;}
.Alltable .table > tbody tr td, .Alltable .table > tfoot tr td, .Alltable .table > thead tr td {vertical-align: middle;padding: 1.5px 4px;border-top: 1px solid #ccc;}
.Alltable .Key-documents .fixed-Header tr th:first-child div {padding-left: 0px;}
/* .Sitecomposition:hover .svg__iconbox {
  background: #fff;
} */
.url {border: 1px solid #fafafa;}
.Alltable .smart .modal-footer {padding: 15px;display: flow-root;border-top: 0px;}
.Alltable .table > :not(caption) > * > * {padding: 0rem;}
.project-overview-Table .Alltable {padding: 0px !important;}
.project-overview-Table .Alltable .fixed-Header {top: -1px !important;}
.Alltable .fixed-Header tr th:first-child div {padding-left: 4px;}
.project-overview-Table .Alltable .table > tbody > tr td:nth-child(4) span > span {gap: 2px;}
.Alltable .smart-relative .sorticon .down svg,
.Alltable .smart-relative .sorticon .up svg {font-size: 13.5px;font-weight: 400;width: 10px;color: #b1acac !important;}
.Alltable .smart-relative .alignmen {position: absolute;padding: 0px;top: 12px;display: inline-flex;}
.Alltable .ml-auto,
.Alltable .mx-auto {margin-left: auto !important;margin-right: inherit !important;}
.Alltable .table > :not(caption) > * span.svg__iconbox {background-color: var(--SiteBlue);}
tbody, tfoot, tr {border: 0px solid #ccc !important;}

.defultSortingIcons {position: relative;top: 1.6px;right:8px;background: #fff;}
.defultSortingIcons .downArrow {position: absolute;right: 2px;}
.defultSortingIcons .upArrow {position: absolute;top: 13.3px;right: 2px;}
.defultSortingIcons .downArrow svg, .defultSortingIcons .upArrow svg {width: 10px; height: 12px;cursor: pointer;}
/* --------------table header -------
  ---------------------------------*/

.tbl-headings .brush,
.tbl-headings .expand,
.tbl-headings .bars,
.tbl-headings .print,
.tbl-headings .Prints,
.tbl-headings .excal,
.tbl-headings .star,
.tbl-headings .star,
.tbl-headings .openWebIcon,
.tbl-headings .teamIcon,
.tbl-headings .envelope-o,
.tbl-headings .smartTotalTime,.tbl-headings .barChart {
    display: inline-flex;
    border: 2px solid #918d8d;
    color: #000;
    padding: 3px;
    font-size: 15px;
    /* margin: 0px 2px; */
    text-decoration: none;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

    .tbl-headings .teamIcon .svg__icon--team {
        position: unset;
    }

.allexpand .fa-expand {
    display: inline-flex;
    border: 2px solid #918d8d;
    color: #000;
    padding: 2px;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    right: 7px;
    top: 15px;
}

.tbl-headings .toolbox {
    display: flex;
    vertical-align: middle;
    align-items: center;
    gap: 3px;
}

.tbl-headings {
    display: flex;
    vertical-align: middle;
    padding: 3px 5px;
    background: #e9e9e9;
    border-bottom: 1px solid #ccc;
}

    .tbl-headings .gsearch-btn {
        background-color: #e9e9e9;
        padding: 5px 7px;
        height: 28px;
        position: absolute;
        font-size: 14px;
        right: 1px;
        color: #b1acac;
        top: 1px;
    }

    .tbl-headings .toolbox button svg {
        width: 15px;
        height: 15px;
        display: inline-flex;
    }

    .tbl-headings .toolbox .btn {
        padding: 4px 12px 4px 12px !important;
        /* margin-left: 5px; */
        border-radius: 0px !important;
    }

        .tbl-headings .toolbox .btn img .tbl-headings .toolbox .btn svg {
            width: 17px;
        }


    .tbl-headings .g-search {
        position: relative;
        /* width: 220px; */
        margin-left: 5px;
        margin-right: 5px;
    }

    .tbl-headings .g-searchclear {
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
        position: absolute;
        padding: 2px 3px;
        background-color: #FFF;
        right: 29px;
        top: 3px;
    }

    .tbl-headings .toolbox img.excal {
        border: 2px solid #918d8d;
        padding: 2px;
        width: 23px;
    }

    .tbl-headings .leftsec {
        float: left;
        display: flex;
        align-items: center;
        vertical-align: middle;
    }

.autoSearchCross {
    position: absolute;
    top: 29px;
    right: 10px;
}
/* .openWebIcon {
    border: 2px solid #918d8d;
    margin: 0px 2px;
    padding: 1px;
    position: relative;
    top:-3px;
  } */
.ms-DetailsRow-fields .ms-DetailsRow-cell:last-child {
    text-align: center;
    width: 65px !important;
}

/* .openWebIcon .svg__icon--openWeb {
    width: 20px;
    height: 23px;
    position: relative;
    top: 6.3px;
    background-color: var(--SiteBlue);
  } */

.form-check-input[type=checkbox] {
    border-radius: inherit !important;
    cursor: pointer;
}

input.form-check-input:checked {
    background-color: var(--SiteBlue);
    border-color: var(--SiteBlue);
}

.form-check-input:focus {
    background: transparent;
    border-color: #ccc !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
    outline: 0;
}

span.Table-SortingIcon {
    position: absolute;
    right: 4px;
    top: 29px;
    transform: translate(-40%, -50%);
    background: var(--white);
    line-height: 7px;
    width: 14px;
    height: 27px;
    color: #808080;
}

#DefaultViewSelectId .svg__iconbox {
    background-color: var(--white);
    top: 3px;
    position: relative;
}

/* .AccordionContent table thead tr>th:nth-child(3) input {
  padding: 6px 1px;
} */

/* .SortingTable .form-control {
  padding: 6px 10px 5px 3px
} */

.searchCrossIcon .form-control {
    padding-left: 4px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 5px;
}


.searchCrossIcon .shorticon {
    position: absolute;
    top: 8px;
    right: 7px;
}


.SortingTable.table > thead > tr > th {
    position: relative;
}

.scrollbarCustom {
    max-height: 180px;
    overflow-y: auto;
}

    .scrollbarCustom::-webkit-scrollbar {
        background: var(--gray);
        width: 6px;
    }

    .scrollbarCustom::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
    }

.scrollbar::-webkit-scrollbar {
    background: #f3f3f3;
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #E0E0E0;
}

.maXh-200 {
    max-height: 200px;
}

.maXh-300 {
    max-height: 300px;
}

.maXh-400 {
    max-height: 400px;
}

.maXh-500 {
    max-height: 500px;
}

.maXh-600 {
    max-height: 600px;
}

.maXh-700 {
    max-height: 700px;
}

.maXh-780 {
    max-height: 780px;
}

.restructurebox div:first-child {
    margin-bottom: 15px;
}

.restructurebox div:last-child {
    margin-top: 15px;
}

.restructurebox input[type="radio"] {
    position: relative;
    top: 2px;
}



.nontag {
    border: 1px dashed;
    color: #92a0ab;
    line-height: 30px;
}

.shorticon {
    position: absolute;
    top: 8px;
    right: 8px;
}
/* .shorticon {
  position: absolute;
  top: 5px;
  right: 5px;
} */
/* 
.teamIcon {
  border: 2px solid #918d8d;
  margin: 0px 2px;
  padding: 1px;
  position: relative;
  top: 0px;
}

.teamIcon .svg__icon--team {
  width: 20px;
  height: 14px;
  padding: 0px;
  position: relative;
  top: 2px;
  margin: 0px;
  background: var(--SiteBlue);
} */

.crossBtn {
    cursor: pointer;
}

.toolClose {
    border-radius: 50px !important;
    position: absolute;
    top: -11px;
    border: 2px solid var(--white);
    right: -7px;
    height: 22px;
    width: 22px;
    float: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
    color: var(--white) !important;
    cursor: pointer;
    background-color: var(--SiteBlue);
    font-size: 19px !important;
    vertical-align: middle;
}

    .toolClose .popHoverCross {
        margin: -1px 0px 1px 0px;
    }

.editicons {
    text-align: right;
}

.AllTime thead th input {
    margin-top: 5px;
}

.expand .modal-dialog {
    width: 50%;
}

.ms-SPLegacyFabricBlock .ms-Grid {
    position: relative;
}

.tableSettingTable {
    border: 1px solid #ccc;
}

    .tableSettingTable th, .tableSettingTable td {
        padding: 2px 4px;
        border-top: 1px solid #ccc;
        height: 35px;
    }
/* ---------table end--------- */

